<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <TestRunner.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">http://fen-dev-qa-28/TestResults/</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Users\f-fvezzali\Source\Workspaces\SS KYC\Dev-Merges\Fenergo.Solution</value>
      </setting>
      <setting name="VsTestPath" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe</value>
      </setting>
      <setting name="CodeCoveragePath" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Program Files (x86)\Microsoft Visual Studio 12.0\Team Tools\Dynamic Code Coverage Tools\CodeCoverage.exe</value>
      </setting>
      <setting name="TestCategory" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">TestCategory=UnitTest|TestCategory=IntegrationTest</value>
      </setting>
      <setting name="SmtpTo" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">fernando.vezzali@fenergo.com;greg.stevenson@fenergo.com;Ruadhan.ONidh@fenergo.com;michal.kaczala@fenergo.com;Tomasz.Lubczyk@fenergo.com;Mateusz.Biernatek@fenergo.com</value>
      </setting>
      <setting name="IntegrationTestDll" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Users\f-fvezzali\Source\Workspaces\SS KYC\Dev-Merges\Fenergo.Solution\TestProjects\Fenergo.Domain.Solution.SSGKYC.IntegrationTests\bin\Debug\Fenergo.Domain.Solution.SSGKYC.Integration.Tests.dll</value>
      </setting>
      <setting name="UnitTestDll" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Users\f-fvezzali\Source\Workspaces\SS KYC\Dev-Merges\Fenergo.Solution\TestProjects\Fenergo.Domain.Solution.SSGKYC.Tests\bin\Debug\Fenergo.Domain.Solution.SSGKYC.Tests.dll</value>
      </setting>
      <setting name="ConfigurationTestDll" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Users\f-fvezzali\Source\Workspaces\SS KYC\Dev-Merges\Fenergo.Solution\TestProjects\Fenergo.Domain.Solution.SSGKYC.ConfigurationTests\bin\Debug\Fenergo.Domain.Solution.SSGKYC.Configuration.Tests.dll</value>
      </setting>
      <setting name="ServiceImplementationTestDll" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Users\f-fvezzali\Source\Workspaces\SS KYC\Dev-Merges\Fenergo.Solution\Fenergo.ServiceImplementation.Solution.SSGKYC.Tests\bin\Debug\Fenergo.ServiceImplementation.Solution.SSGKYC.Tests.dll</value>
      </setting>
      <setting name="Workspace" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">FEN-DEV-QA-28</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Users\f-fvezzali\Source\Workspaces\SS KYC\Dev-Merges\Fenergo.Solution\</value>
      </setting>
      <setting name="Compiler" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe</value>
      </setting>
      <setting name="VsSolutionPath" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">"C:\Users\f-fvezzali\Source\Workspaces\SS KYC\Dev-Merges\Fenergo.Solution\Fenergo.Solution.SSGKYC.sln"</value>
      </setting>
      <setting name="DeployDatabase" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting name="GetLatestAndCompile" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">True</value>
      </setting>
      <setting name="OracleServiceName" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">OracleServiceFENERGO</value>
      </setting>
      <setting name="ForceExecution" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">False</value>
      </setting>
      <setting name="UpdateLocalUser" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">False</value>
      </setting>      
    </TestRunner.Properties.Settings>
  </applicationSettings>
</configuration>