<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
    <section name="TfsMappings" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\TestRunner_"/>
      <appendToFile value="true"/>
      <staticLogFileName value="false"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd.lo\g"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="100MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <TfsMappings>
    <add key="Fenergo.Solution.SSGKYC.sln" value="SS KYC"/>
    <add key="Ergo.ExpertBanker.sln" value="DealManagerFeature5.0"/>
    <add key="Ergo.ExpertBanker.Infrastructure.sln" value="FenergoCore"/>
    <add key="Framework.sln" value="FenergoCore"/>
    <add key="UIFramework.sln" value="FenergoCore"/>
  </TfsMappings>
      
  <applicationSettings>
    <TestRunner.Properties.Settings>
      <setting name="TestPattern" serializeAs="String">
        <value>\b(test)|(IntegrationTsts)\b</value>
      </setting>
      <setting name="SkipTestProjects" serializeAs="String">
        <value>Ergo.ExpertBanker.Documents.Tests|Ergo.ExpertBanker.Comments.Tests|Ergo.ExpertBanker.Admin.Tests|Ergo.ExpertBanker.Activity.Tests</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>smtp.office365.com</value>
      </setting>
      <setting name="SmtpUser" serializeAs="String">
        <value>tfsnotifications@fenergo.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SmtpFrom" serializeAs="String">
        <value>tfsnotifications@fenergo.com</value>
      </setting>
      <setting name="SmtpSsl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>Fenergo.1234</value>
      </setting>
      <setting name="MsBuildConfiguration" serializeAs="String">
        <value>Debug</value>
      </setting>
      <setting name="TfsTeamProjectCollection" serializeAs="String">
        <value>http://fen-tfs.fenergo.com:8080/tfs/product</value>
      </setting>
      <setting name="VsTestArguments" serializeAs="String">
        <value>/InIsolation /EnableCodeCoverage /UseVsixExtensions:true /Logger:trx "/Logger:TfsPublisher;Collection=http://fen-tfs.fenergo.com:8080/tfs/product;TeamProject={0};BuildName={1};{2}"</value>
      </setting>
      <setting name="ProcessTimeout" serializeAs="String">
        <value>7200000</value>
      </setting>
      <setting name="TrxResultSummaryXpath" serializeAs="String">
        <value>/x:TestRun/x:ResultSummary[@outcome='Failed']</value>
      </setting>
      <setting name="VsTestPath" serializeAs="String">
        <value>C:\Program Files (x86)\Microsoft Visual Studio 11.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe</value>
      </setting>
      <setting name="CodeCoveragePath" serializeAs="String">
        <value>C:\Program Files (x86)\Microsoft Visual Studio 11.0\Team Tools\Dynamic Code Coverage Tools\CodeCoverage.exe</value>
      </setting>
      <setting name="TestResultsFolder" serializeAs="String">
        <value>C:\TestRunner\TestResults</value>
      </setting>
      <setting name="CoverageReportFilters" serializeAs="String">
        <value>-*test*;-*IntegrationTsts*</value>
      </setting>
      <setting name="BuildDefinition" serializeAs="String">
        <value>QA28_Nightly_Build</value>
      </setting>
      <setting name="TeamProject" serializeAs="String">
        <value>SS KYC</value>
      </setting>
      <setting name="Workspace" serializeAs="String">
        <value>FEN-LAP-053</value>
      </setting>
      <setting name="VsSolutionPath" serializeAs="String">
        <value>C:\Work\dev-merges\Dev-Merges\Fenergo.Solution\Fenergo.Solution.SSGKYC.sln</value>
      </setting>
      <setting name="UnitTestDll" serializeAs="String">
        <value>C:\Work\dev-merges\Dev-Merges\Fenergo.Solution\TestProjects\Fenergo.Domain.Solution.SSGKYC.Tests\bin\Debug\Fenergo.Domain.Solution.SSGKYC.Tests.dll</value>
      </setting>
      <setting name="IntegrationTestDll" serializeAs="String">
        <value>C:\Work\dev-merges\Dev-Merges\Fenergo.Solution\TestProjects\Fenergo.Domain.Solution.SSGKYC.IntegrationTests\bin\Debug\Fenergo.Domain.Solution.SSGKYC.Integration.Tests.dll</value>
      </setting>
      <setting name="ConfigurationTestDll" serializeAs="String">
        <value>C:\Work\dev-merges\Dev-Merges\Fenergo.Solution\TestProjects\Fenergo.Domain.Solution.SSGKYC.ConfigurationTests\bin\Debug\Fenergo.Domain.Solution.SSGKYC.Configuration.Tests.dll</value>
      </setting>
      <setting name="ServiceImplementationTestDll" serializeAs="String">
        <value>C:\Work\dev-merges\Dev-Merges\Fenergo.Solution\Fenergo.ServiceImplementation.Solution.SSGKYC.Tests\bin\Debug\Fenergo.ServiceImplementation.Solution.SSGKYC.Tests.dll</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String">
        <value>C:\Work\dev-merges\Dev-Merges\Fenergo.Solution</value>
      </setting>
      <setting name="Compiler" serializeAs="String">
        <value>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe</value>
      </setting>
      <setting name="OracleServiceName" serializeAs="String">
        <value>OracleServiceFENERGO2</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://localhost/TestResults/</value>
      </setting>
      <setting name="ForceExecution" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportGeneratorVersion" serializeAs="String">
        <value>ReportGenerator.2.1.8.0</value>
      </setting>
      <setting name="LocalUser" serializeAs="String">
        <value>FVezzali</value>
      </setting>
      <setting name="DeployDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateLocalUser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GetLatestAndCompile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TestCategory" serializeAs="String">
        <value>TestCategory=UnitTest|TestCategory=IntegrationTest|TestCategory=ConfigurationTest</value>
      </setting>
      <setting name="SmtpTo" serializeAs="String">
        <value>fernando.vezzali@fenergo.com</value>
      </setting>
    </TestRunner.Properties.Settings>
  </applicationSettings>
  
  <userSettings>
    <TestRunner.Properties.Settings>
      <setting name="MaxCoverage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Ergo.ExpertBanker.sln|0</string>
            <string>Ergo.ExpertBanker.Infrastructure.sln|0</string>
          </ArrayOfString>
        </value>
      </setting>
    </TestRunner.Properties.Settings>
  </userSettings>
</configuration>